
body{
    background:black;
}

#slider{
    height: 400px;
    background: blue;
    color:white;

    .title-slider{
        height:200px;
        background:cyan;

        .title{
            font-size: 40px;
            color: black;
        }
        .description{
        }
    }



}

.item{
    background:red;
    img{
        width:250px;
    }
}

//type-effect
  .type-effect{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #app{
    letter-spacing:0.25em;
    font-size: 30px;
    font-weight: 800;
    text-transform:uppercase;
  }



//responsive
@media (min-width: 1200px) { }
@media (min-width: 992px) {}
@media (min-width: 768px) { }
@media (min-width: 576px) { }