body {
  background: black; }

#slider {
  height: 400px;
  background: blue;
  color: white; }
  #slider .title-slider {
    height: 200px;
    background: cyan; }
    #slider .title-slider .title {
      font-size: 40px;
      color: black; }

.item {
  background: red; }
  .item img {
    width: 250px; }

.type-effect {
  display: flex;
  align-items: center;
  justify-content: center; }

#app {
  letter-spacing: 0.25em;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase; }
